#eclipse files
.project
.settings

#webstorm
.idea/
*.iml

# temp files
.DS_Store
Thumbs.db
Desktop.ini

#log files
.log

# project specific ignore
add-on/
node_modules/
bower_components/
build/*
docs/*
!.placeholder

# Vim swap files
*.sw*

# grunt tools
.dist/*
.tmp
.tmp/*
dist/*
/dist/


cache/files/*.cache
# bin/developer.json

# 下载测试文件
test/assets/test_download_*
test/assets/screenshot*

#npm
npm-debug.log
.npmignore
localtest.js

#unit test
unittest/*

#downloaded assets
/test/assets/downloaddir/

